<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <script>
        function validateForm(event) {
            const password = document.querySelector('input[name="password"]').value;
            const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;

            if (password !== confirmPassword) {
                event.preventDefault(); // 폼 제출 방지
                alert("비밀번호가 일치하지 않습니다. 다시 확인해주세요."); // 경고 메시지
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('.register');
            form.addEventListener('submit', validateForm);
        });
    </script>
</head>
<body>
<div class="wrapper">
    <h1>티켓 히어로</h1>
    <form class="register" th:action="@{/add}" method="post">
        <h2>회원가입</h2>
        <input type="text" name="username" placeholder="사용자 이름" required>
        <input type="text" name="ID" placeholder="아이디" required>
        <input type="password" name="password" placeholder="비밀번호" required>
        <input type="password" name="confirmPassword" placeholder="비밀번호 확인" required>

        <label for="role">역할 선택</label>
        <select name="role" id="role" required>
            <option value="NORMAL">일반 관람객</option>
            <option value="VIP">VIP 관람객</option>
            <option value="PERFORMER">공연자</option>
        </select>

        <button type="submit">회원가입</button>
    </form>
    <form class="register" th:action="@{/}" method="get">
        <button type="submit">취소</button>
    </form>
</div>
</body>
</html>
